aniso8601==6.0.0
AST==0.0.2
Babel==0.9.6
boto3==1.9.134
botocore==1.12.134
cloud-init==18.2
decorator==3.4.0
Flask==1.0.2
Flask-RESTful==0.3.7
IPy==0.75
Jinja2==2.10.1
jsonpatch==1.2
jsonpointer==1.9
lxml==3.2.1
Magic-file-extensions==0.2
MarkupSafe==1.1.1
perf==0.1
prettytable==0.7.2
pycurl==7.19.0
pymongo==3.7.2
pyOpenSSL==0.13.1
pyxattr==0.5.1
PyYAML==3.10
s3transfer==0.2.0
urllib3==1.24.2
Werkzeug==0.15.2
